@import url('https://fonts.googleapis.com/css?family=San+Francisco&display=swap');

body {
  font-family: 'San Francisco', sans-serif;
}

.main-div {
  /* Add any styles for the main-div if needed */
}

.top-section {
  background-color: rgb(39, 39, 39);
  padding: 15px;
}

.btn-top-section {
  /* Add any styles for btn-top-section if needed */
}

.location-btn-top-section {
  color: white;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center; /* Align items vertically in the button */
}

.location-icon {
  margin-right: 5px; /* Adjust the margin as needed */
}

.header {
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.center-content {
  display: flex;
  align-items: center;
}

.left-buttons,
.right-buttons {
  display: flex;
}

.logo {
  width: 100px; /* Set the desired width for the logo */
  margin: 0 20px; /* Adjust margin as needed */
}

.logo-image {
  width: 100%;
  height: auto;
}

.header-button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 15px;
  padding: 8px 12px; /* Adjust padding as needed */
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 460px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .left-buttons,
  .right-buttons {
    display: none;
  }

  .logo {
    margin: 10px 0; /* Adjust margin as needed */
  }
}

  .banner-hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/Untitled design.png') center/cover no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .banner-hero-section h1 {
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .banner-hero-section .button-container {
    display: flex;
  }
  @media (min-width: 768px){
    .banner-hero-section .button-container {
      gap: 40px; /* Adjust the gap between buttons */
    }
  }
  .banner-hero-section button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 14px 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .banner-hero-section button:hover {
    background-color: white;
    color: black;
  }
  
  @media (max-width: 768px) {
    .banner-hero-section h1 {
      font-size: 2em;
    }
  
    .banner-hero-section .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    .banner-hero-section button {
      font-size: 14px;
      padding: 8px 16px;
      margin: 5px;
    }
  }