@media (min-width: 312px) and (max-width: 480px) {
  .logo img {
    width: 60px;
  }

  .contact-us-btn-spcbtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 1px solid white;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }

  .contact-us-btn-spcbtn::before {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .contact-us-btn-spcbtn:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
  }

  .header-btns button {
    cursor: pointer;
    margin-top: 14px;
    margin-left: 5px;
    position: relative;
    z-index: 1; /* Ensure the text is displayed in front */
  }

  .header-btn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
  }

  .header-btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .header-btn:hover::before {
    width: 100%;
    transform-origin: bottom left;
  }

  .header-btn:hover {
    text-decoration: none;
  }

  .header-btns {
    text-align: left;
    margin-left: auto; /* Push the buttons to the right */
  }

  .header header {
    display: flex;
    margin-bottom: 20px;
  }
  .banner {
    padding: 100px 0;
    background-color: #868686; /* Dark background color */
    background-image: url('./images/Untitled design.png'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-blend-mode: multiply; /* Blend mode to blend text with background */
}
.banner h2 {
  font-size: 30px;
  margin-top: 60px;
  color: white;
}
.banner button {
  color: white;
  background-color: #ffb703;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #ffb703;
  font-size: 16px;
}
.banner button:hover {
  color: white;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #ffb703;
}
.banner-txt {
  width: 100%;
  text-align: center;
}
.some-breif-description {
  text-align: center; /* Center align the boxes */
  margin-top: 50px; /* Reduced margin for mobile */
}

.box-sbd{
  color: white;
  background-color: transparent;
  width: 100%; /* Make the boxes full width on small screens */
  max-width: 320px; /* Set a maximum width for larger screens */
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px auto; /* Center the boxes horizontally */
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}
.box-sbd-spc {
  color: white;
  background-color: #ffb703;
  width: 100%; /* Make the boxes full width on small screens */
  max-width: 320px; /* Set a maximum width for larger screens */
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px auto; /* Center the boxes horizontally */
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}


.box-sbd:hover,
.box-sbd-spc:hover {
  transform: translateY(-5px);
}

.box-sbd h3{
  color: #ffb703;
  margin: 0;
}

/* Media query for small screens (e.g., mobile) */
  .box-sbd,
  .box-sbd-spc {
    margin: 10px auto; /* Center the boxes horizontally on smaller screens */
}
} 
@media (min-width: 481px) and (max-width: 768px) {
  .logo img {
    width: 60px;
  }

  .contact-us-btn-spcbtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 1px solid white;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }

  .contact-us-btn-spcbtn::before {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .contact-us-btn-spcbtn:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
  }

  .header-btns button {
    cursor: pointer;
    margin-top: 14px;
    margin-left: 5px;
    position: relative;
    z-index: 1; /* Ensure the text is displayed in front */
  }

  .header-btn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
  }

  .header-btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .header-btn:hover::before {
    width: 100%;
    transform-origin: bottom left;
  }

  .header-btn:hover {
    text-decoration: none;
  }

  .header-btns {
    text-align: left;
    margin-left: auto; /* Push the buttons to the right */
  }

  .header header {
    display: flex;
    margin-bottom: 20px;
  }
  .banner {
    padding: 100px 0;
    background-color: #868686; /* Dark background color */
    background-image: url('./images/Untitled design.png'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-blend-mode: multiply; /* Blend mode to blend text with background */
}
.banner h2 {
  font-size: 30px;
  margin-top: 60px;
  color: white;
}
.banner button {
  color: white;
  background-color: #ffb703;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #ffb703;
  font-size: 16px;
}
.banner button:hover {
  color: white;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #ffb703;
}
.banner-txt {
  width: 100%;
  text-align: center;
}
.some-breif-description {
  text-align: center; /* Center align the boxes */
  margin-top: 50px; /* Reduced margin for mobile */
}

.box-sbd{
  color: white;
  background-color: transparent;
  width: 100%; /* Make the boxes full width on small screens */
  max-width: 320px; /* Set a maximum width for larger screens */
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px auto; /* Center the boxes horizontally */
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}
.box-sbd-spc {
  color: white;
  background-color: #ffb703;
  width: 100%; /* Make the boxes full width on small screens */
  max-width: 320px; /* Set a maximum width for larger screens */
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px auto; /* Center the boxes horizontally */
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}


.box-sbd:hover,
.box-sbd-spc:hover {
  transform: translateY(-5px);
}

.box-sbd h3{
  color: #ffb703;
  margin: 0;
}

/* Media query for small screens (e.g., mobile) */
  .box-sbd,
  .box-sbd-spc {
    margin: 10px auto; /* Center the boxes horizontally on smaller screens */
}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .logo img {
    width: 80px;
  }

  .contact-us-btn-spcbtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px solid white;
    padding: 12px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
  }

  .contact-us-btn-spcbtn::before {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .contact-us-btn-spcbtn:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
  }

  .header-btns button {
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 20px;
    position: relative;
    z-index: 1; /* Ensure the text is displayed in front */
  }

  .header-btn {
    background-color: black;
    border: none;
    color: white;
    margin-right: 40px;
    cursor: pointer;
  }

  .header-btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .header-btn:hover::before {
    width: 100%;
    transform-origin: bottom left;
  }

  .header-btn:hover {
    text-decoration: none;
  }

  .header-btns {
    text-align: left;
    margin-left: auto; /* Push the buttons to the right */
  }

  .header header {
    display: flex;
  }
  .banner {
    padding: 100px 0;
    background-color: #868686; /* Dark background color */
    background-image: url('./images/Untitled design.png'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-blend-mode: multiply; /* Blend mode to blend text with background */
}
.banner h2 {
  font-size: 40px;
  margin-top: 110px;
  color: white;
  margin-left: 40px;
}
.banner button {
  color: white;
  background-color: #ffb703;
  border-radius: 25px;
  padding: 16px 28px;
  cursor: pointer;
  border: 2px solid #ffb703;
  font-size: 16px;
  margin-left: 40px
}
.banner button:hover {
  color: white;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #ffb703;
}
.banner-txt {
  width: 400px;
  text-align: center;
}
.some-breif-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Your existing styles */
.box-sbd {
  color: white;
  background-color: transparent;
  width: 320px;
  height: 160px; /* Adjust the height as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}

.box-sbd:hover {
  transform: translateY(-5px); /* Move the box up by 5 pixels on hover */
}

.box-sbd h3 {
  color: #ffb703;
  margin: 0;
}

.box-sbd-spc {
  color: white;
  background-color: #ffb703;
  width: 320px;
  height: 160px; /* Adjust the height as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0px 30px;
  transition: transform 0.3s ease-in-out;
}

.box-sbd-spc:hover {
  transform: translateY(-5px); /* Move the box up by 5 pixels on hover */
}

.box-sbd-spc h3 {
  margin: 0;
}
}
@media (min-width: 1025px) {
  .logo img {
    width: 80px;
  }

  .contact-us-btn-spcbtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px solid white;
    padding: 12px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
  }

  .contact-us-btn-spcbtn::before {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .contact-us-btn-spcbtn:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
  }

  .header-btns button {
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 20px;
    position: relative;
    z-index: 1; /* Ensure the text is displayed in front */
  }

  .header-btn {
    background-color: black;
    border: none;
    color: white;
    margin-right: 40px;
    cursor: pointer;
  }

  .header-btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: width 0.3s ease-out;
  }

  .header-btn:hover::before {
    width: 100%;
    transform-origin: bottom left;
  }

  .header-btn:hover {
    text-decoration: none;
  }

  .header-btns {
    text-align: left;
    margin-left: auto; /* Push the buttons to the right */
  }

  .header header {
    display: flex;
  }
  .banner {
    padding: 100px 0;
    background-color: #868686; /* Dark background color */
    background-image: url('./images/Untitled design.png'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-blend-mode: multiply; /* Blend mode to blend text with background */
}
.banner h2 {
  font-size: 40px;
  margin-top: 110px;
  color: white;
  margin-left: 40px;
}
.banner button {
  color: white;
  background-color: #ffb703;
  border-radius: 25px;
  padding: 16px 28px;
  cursor: pointer;
  border: 2px solid #ffb703;
  font-size: 16px;
  margin-left: 40px
}
.banner button:hover {
  color: white;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #ffb703;
}
.banner-txt {
  width: 400px;
  text-align: center;
}
.some-breif-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Your existing styles */
.box-sbd {
  color: white;
  background-color: transparent;
  width: 320px;
  height: 160px; /* Adjust the height as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
  border: 2px solid #ffb703;
  transition: transform 0.3s ease-in-out;
}

.box-sbd:hover {
  transform: translateY(-5px); /* Move the box up by 5 pixels on hover */
}

.box-sbd h3 {
  color: #ffb703;
  margin: 0;
}

.box-sbd-spc {
  color: white;
  background-color: #ffb703;
  width: 320px;
  height: 160px; /* Adjust the height as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0px 80px;
  transition: transform 0.3s ease-in-out;
}

.box-sbd-spc:hover {
  transform: translateY(-5px); /* Move the box up by 5 pixels on hover */
}

.box-sbd-spc h3 {
  margin: 0;
}
}

.aboutUs {
  margin-top: 150px;
  display: flex;
  align-items: center;
}

.abtusimg {
  background-image: url('./images/Real\ Estate\ Agent\ Granville\,\ OH\ _\ Aaron\ Graves\ KW\ Realty.jpg');
  background-size: cover;
  border-radius: 15px;
  height: 80vh;
  background-repeat: no-repeat;
  flex: 1;
}

.abtus-text {
  flex: 1;
  padding: 20px;
  color: white;
  text-align: center;
  box-sizing: border-box; /* Include padding in the total width */
}

.abtus-text h2 {
  color: #ffd700;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.abtus-text p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify;
}

/* Stack items vertically on screens with a maximum width of 768 pixels */
@media (max-width: 768px) {
  .aboutUs {
    flex-direction: column;
    align-items: stretch;
  }

  .abtusimg,
  .abtus-text {
    flex: initial;
    width: 100%;
    margin: 0; /* Remove margin on small screens */
    box-sizing: border-box; /* Include padding in the total width */
  }
  .abtusimg {
    height: 50vh;
  }
  .abtus-text {
    margin: 0; /* Remove margin on small screens */
  }
  .abtus-text h2 {
    font-size: 30px;
  }
  .abtus-text p {
    font-size: 16px;
  }
}


/* Overall Styling */
/* Overall Styling */
.sell-section {
  color: #fff; /* White text color */
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  margin-top: 100px;
}

.heading-sell-section {
  padding-bottom: 10px; /* Adjust padding as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* Horizontal Scrolling Container */
.scroll-container {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px; /* Add some space at the bottom */
}

/* Individual Selling Box Styling */
.sell-section-box {
  background-color: #212121; /* Dark grey background color */
  margin-right: 20px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Rounded corners for boxes */
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
}

.sell-section-box h2 {
  margin-bottom: 10px; /* Adjust margin as needed */
  color: #ffd700; /* Golden text color for headings */
}

.sell-section-box button {
  background-color: #ffd700; /* Golden button color */
  color: #ffffff; /* Dark text color for the button */
  padding: 10px 15px; /* Adjust padding as needed */
  border: 1px solid #ffd700;
  border-radius: 4px; /* Rounded corners for buttons */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.sell-section-box button:hover {
  background-color: transparent; /* Darken the button color on hover */
  border: 1px solid #ffd700;
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 600px) {
  .scroll-container {
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
  }

  .sell-section-box {
    width: 100%; /* Make boxes take up full width on mobile */
    margin-right: 0; /* No margin on mobile */
    margin-bottom: 20px; /* Add space between boxes on mobile */
  }
}
@import url('https://fonts.googleapis.com/css?family=San+Francisco&display=swap');

body{
  font-family: 'San Francisco', sans-serif;
  background-color: black;
}

